json/plc_connection.json
{
    "id": "58088537aa9656fd",
    "type": "subflow",
    "name": "PLC_connection",
    "info": "Establishes a connection with the SmartUnity PLC.\r\n\r\nAccepts and sends packets over the SmartUnity protocol.\r\n\r\n### Inputs\r\n\r\n: payload (string) : Packets to PLC\r\n\r\n\r\n`Note!` To convert data to SmartUnity protocol, use node **To_SmartUnity**.\r\n\r\n\r\n### Outputs\r\n\r\n: payload (string) : Packets from PLC\r\n\r\n`Note!` To convert data from SmartUnity protocol, use node **From_SmartUnity**.\r\n\r\n### Configuration\r\n\r\nIP-address of PLC with SmartUnity core.\r\n\r\n`format:` **xxx.xxx.xxx.xxx**",
    "category": "SmartUnity",
    "in": [
        {
            "x": 60,
            "y": 160,
            "wires": [
                {
                    "id": "f76087063cc73ed0"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 1220,
            "y": 160,
            "wires": [
                {
                    "id": "73426ad6a04cfd40",
                    "port": 0
                },
                {
                    "id": "72bf9b7855968742",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "HOST",
            "type": "str",
            "value": "",
            "ui": {
                "label": {
                    "ru": "PLC IP-address"
                },
                "type": "input",
                "opts": {
                    "types": [
                        "str"
                    ]
                }
            }
        }
    ],
    "meta": {
        "type": "PLC connection",
        "version": "1.2.2",
        "author": "Anton Shefov <a.shefov@gmail.com>",
        "desc": "Connection to PLC",
        "license": "MIT",
        "keywords": "SmartUnity, SU"
    },
    "color": "#3BB08F",
    "icon": "node-red/bridge-dash.svg",
    "inputLabels": [
        "to_SU"
    ],
    "outputLabels": [
        "from_SU"
    ],
    "status": {
        "x": 720,
        "y": 300,
        "wires": [
            {
                "id": "5e4eaca67bbb096b",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "31aa3f5081482f5e",
            "type": "inject",
            "z": "5d465e34932148cf",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "30",
            "crontab": "",
            "once": true,
            "onceDelay": "1",
            "topic": "",
            "payload": "true",
            "payloadType": "bool",
            "x": 65,
            "y": 220,
            "wires": [
                [
                    "993767259063d6a9"
                ]
            ],
            "l": false
        },
        {
            "id": "993767259063d6a9",
            "type": "function",
            "z": "5d465e34932148cf",
            "name": "",
            "func": "var tmp = {};\ntmp.start = 52428;\ntmp.obj=200;\ntmp.to=0;\ntmp.cmd=33;\ntmp.len=0;\nmsg.payload = tmp;\nreturn msg;",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 200,
            "y": 220,
            "wires": [
                [
                    "bbd6112b267d8128"
                ]
            ]
        },
        {
            "id": "1fa78c3d9b7b6de1",
            "type": "tcp request",
            "z": "5d465e34932148cf",
            "name": "PLC",
            "server": "",
            "port": "",
            "out": "sit",
            "ret": "buffer",
            "splitc": " ",
            "newline": "",
            "trim": false,
            "tls": "",
            "x": 670,
            "y": 160,
            "wires": [
                [
                    "21b36036d4f32290"
                ]
            ]
        },
        {
            "id": "5e4eaca67bbb096b",
            "type": "status",
            "z": "5d465e34932148cf",
            "name": "",
            "scope": [
                "1fa78c3d9b7b6de1"
            ],
            "x": 580,
            "y": 300,
            "wires": [
                []
            ]
        },
        {
            "id": "38ae13a46a0113ce",
            "type": "change",
            "z": "5d465e34932148cf",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "host",
                    "pt": "msg",
                    "to": "HOST",
                    "tot": "env",
                    "dc": true
                },
                {
                    "t": "set",
                    "p": "port",
                    "pt": "msg",
                    "to": "400",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 535,
            "y": 160,
            "wires": [
                [
                    "1fa78c3d9b7b6de1"
                ]
            ],
            "l": false
        },
        {
            "id": "f61ba08c9df5133f",
            "type": "function",
            "z": "5d465e34932148cf",
            "name": "MSG length",
            "func": "var len = String(msg.payload).length;\nif (len <= 12){\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
            "outputs": 2,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 895,
            "y": 160,
            "wires": [
                [
                    "73426ad6a04cfd40"
                ],
                [
                    "72bf9b7855968742"
                ]
            ],
            "outputLabels": [
                "2",
                "more"
            ],
            "l": false
        },
        {
            "id": "21b36036d4f32290",
            "type": "split",
            "z": "5d465e34932148cf",
            "name": "",
            "splt": "[204,204]",
            "spltType": "bin",
            "arraySplt": 1,
            "arraySpltType": "len",
            "stream": false,
            "addname": "",
            "x": 795,
            "y": 160,
            "wires": [
                [
                    "f61ba08c9df5133f"
                ]
            ],
            "l": false
        },
        {
            "id": "bbd6112b267d8128",
            "type": "binary",
            "z": "5d465e34932148cf",
            "name": "",
            "property": "payload",
            "pattern": "l16=>start,l16 => obj, l16 => cmd, x16, x16,l16=>len",
            "x": 410,
            "y": 220,
            "wires": [
                [
                    "38ae13a46a0113ce"
                ]
            ]
        },
        {
            "id": "72bf9b7855968742",
            "type": "binary",
            "z": "5d465e34932148cf",
            "name": "",
            "property": "payload",
            "pattern": "l16 => obj, l16 => cmd, l16=>to, x16,l16=>len,l16=>value,x16,l16=>setpoint",
            "x": 1030,
            "y": 200,
            "wires": [
                []
            ]
        },
        {
            "id": "73426ad6a04cfd40",
            "type": "binary",
            "z": "5d465e34932148cf",
            "name": "",
            "property": "payload",
            "pattern": "l16 => obj, l16 => cmd, l16=>to, x16,l16=>len,l16=>value",
            "x": 1030,
            "y": 120,
            "wires": [
                []
            ]
        },
        {
            "id": "4149af24579f0dc5",
            "type": "binary",
            "z": "5d465e34932148cf",
            "name": "",
            "property": "payload",
            "pattern": "l16=>start,l16 => obj, l16 => cmd, x16, x16,l16=>len,l16=>val",
            "x": 410,
            "y": 160,
            "wires": [
                [
                    "38ae13a46a0113ce"
                ]
            ]
        },
        {
            "id": "f76087063cc73ed0",
            "type": "function",
            "z": "5d465e34932148cf",
            "name": "to_SmartUnity",
            "func": "var tmp = {};\nvar command = 0;\nvar value = 0;\n\nswitch (msg.type) {\n    case \"T_IMPULS_BUTTON\":\n        command = 6;\n        if (msg.payload) {\n            value = 15;\n        } else {\n            value = 16;\n        }\n        break;\n    case \"T_SWITCH_BUTTON\":\n        command = 6;\n        if (msg.payload) {\n            value = 15;\n        } else {\n            value = 16;\n        }\n        break;\n    case \"T_RELE\":\n        command = 17;\n        if (msg.payload) {\n            value = 7;\n        } else {\n            value = 6;\n        }\n        break;\n    case \"T_TEMPERATURE_DETECTOR_value\":\n        command = 40;\n        value = msg.payload;\n        break;\n    case \"T_UNIV_AN_INPUT_value\":\n        command = 40;\n        value = msg.payload;\n        break;\n    case \"T_UNIV_AN_INPUT_setpoint\":\n        command = 9;\n        value = msg.payload;\n        break;\n    case \"T_ANALOG_IN_ADVANCED_value\":\n        command = 17;\n        value = msg.payload;\n        break;\n    case \"T_UNIV_AN_OUTPUT\":\n        command = 17;\n        value = msg.payload;\n        break;\n    case \"T_UNIV_AN_OUTPUT_TO_HELP_OBJECT\":\n        command = 17;\n        value = Math.round(msg.payload / 33) + 1;\n        break;\n    case \"T_HELP_SWITCH\":\n        command = 17;\n        if (msg.payload) {\n            value = 21;\n        } else {\n            value = 22;\n        }\n        break;\n    case \"T_HELP_OBJECT\":\n        command = 17;\n        value = msg.payload;\n        break;\n    case \"GET_STATUS\":\n        command = 1;\n        break;\n    case \"GET_STATUS_MB\":\n        command = 1;\n        value = msg.payload;\n        break;\n    default:\n        return null;\n        break;\n}\n\ntmp.start = 52428;\ntmp.obj = msg.object_id;\ntmp.cmd = command;\ntmp.len = 2;\ntmp.val = value;\nmsg.payload = tmp;\nreturn msg;\n",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 220,
            "y": 160,
            "wires": [
                [
                    "4149af24579f0dc5"
                ]
            ]
        }
    ]
}