json/to_su.json
{
    "id": "625e0c3cc5957e33",
    "type": "subflow",
    "name": "To_SmartUnity",
    "info": "Converts packets from Node-Red to SmartUnity\r\n\r\n\r\n### Inputs\r\n\r\n: payload (any) : Standart payload.\r\n: *topic* (string | number) :  ID.\r\n\r\n### Outputs\r\n\r\n: payload (string) : TCP-packet to SmartUnity\r\n\r\n### Configuration\r\n\r\n#### **Address list**\r\n\r\nThe json file maps the msg.topic and the object ID in Project Builder.\r\n\r\n- The **key** must contain a KNX group address or address in another system.\r\n- The **value** must contain the Project Builder object ID.\r\n\r\n**Examples:**\r\n\r\n- **KNX**:\r\n`{\r\n    \"0/1/1\": 1024,\r\n    \"0/1/2\": 1025\r\n}`\r\n\r\n- **Other Systems**:\r\n`{\r\n    \"topic_1\": 1026,\r\n    \"topic_2\": 1027\r\n}`\r\n\r\n\r\n---\r\n\r\n\r\n#### **Type list**\r\n\r\nThe json file maps the msg.topic and the object type in Project Builder.\r\n\r\n**Example:**\r\n\r\n`{\r\n    \"topic_1\": \"T_SWITCH_BUTTON\",\r\n    \"topic_2\": \"T_SWITCH_BUTTON\"\r\n}`\r\n\r\n**Available object types:**\r\n\r\n - **T_IMPULS_BUTTON**\r\n - **T_SWITCH_BUTTON**\r\n - **T_RELE**\r\n - **T_UNIV_AN_INPUT_value** \r\n - **T_UNIV_AN_INPUT_setpoint** \r\n - **T_TEMPERATURE_DETECTOR_value**\r\n - **T_TEMPERATURE_DETECTOR_setpoint**\r\n - **T_ANALOG_IN_ADVANCED_value**\r\n - **T_ANALOG_IN_ADVANCED_setpoint**\r\n - **T_UNIV_AN_OUTPUT**\r\n - **T_HELP_SWITCH**\r\n - **T_HELP_OBJECT**\r\n - **T_UNIV_AN_OUTPUT_TO_HELP_OBJECT**\r\n - **T_COMMON_TIMER**\r\n - **T_INTERVAL_TIMER**\r\n\r\n---\r\n\r\n\r\n#### **Setpoint delay**\r\n\r\nDelay before sending setpoint (in seconds).\r\n\r\nValid only for the following types:\r\n- **T_UNIV_AN_INPUT_setpoint**\r\n- **T_SIMPLE_ANALOG_IN_setpoint**\r\n- **T_TEMPERATURE_DETECTOR_setpoint**\r\n\r\n`Available range:` **0 - 120 sec**\r\n\r\n`Default delay:` **15 sec**\r\n\r\n`note:` **0 = no delay**\r\n\r\n---\r\n\r\n\r\n#### **Shift (HELP_OBJECT)**\r\n\r\nThe shift is added to the received value.\r\n\r\n**output value = recieved value + shift**\r\n\r\nApplies only to objects of the **HELP_OBJECT** type.\r\n\r\n`Available range:` **-10 - 10**\r\n\r\n`Default shift:` **0**\r\n\r\n---\r\n\r\n\r\n#### **Factor**\r\n\r\nAll analog values are multiplied by the factor.\r\n\r\n**output value = recieved value * factor**\r\n\r\nApplies to all analog object types.\r\n\r\n`Available range:` **0 - 1000**\r\n\r\n`Default factor:` **10**",
    "category": "SmartUnity",
    "in": [
        {
            "x": 80,
            "y": 160,
            "wires": [
                {
                    "id": "c8f306b7a6df1d66"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 1210,
            "y": 180,
            "wires": [
                {
                    "id": "6cee4f89311c3621",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "ADDRESSES",
            "type": "json",
            "value": "{}",
            "ui": {
                "icon": "font-awesome/fa-list",
                "label": {
                    "ru": "Address list"
                },
                "type": "input",
                "opts": {
                    "types": [
                        "json"
                    ]
                }
            }
        },
        {
            "name": "TYPES",
            "type": "json",
            "value": "{}",
            "ui": {
                "icon": "font-awesome/fa-file-code-o",
                "label": {
                    "ru": "Type list"
                },
                "type": "input",
                "opts": {
                    "types": [
                        "json"
                    ]
                }
            }
        },
        {
            "name": "SETPOINT_DELAY",
            "type": "num",
            "value": "15",
            "ui": {
                "icon": "font-awesome/fa-clock-o",
                "label": {
                    "ru": "Delay to send setpoint"
                },
                "type": "spinner",
                "opts": {
                    "min": 0,
                    "max": 120
                }
            }
        },
        {
            "name": "HELP_OBJECT_SHIFT",
            "type": "num",
            "value": "0",
            "ui": {
                "icon": "font-awesome/fa-arrows-v",
                "label": {
                    "ru": "Shift (HELP_OBJECT)"
                },
                "type": "spinner",
                "opts": {
                    "min": -10,
                    "max": 10
                }
            }
        },
        {
            "name": "VALUE_FACTOR",
            "type": "num",
            "value": "10",
            "ui": {
                "icon": "font-awesome/fa-asterisk",
                "label": {
                    "ru": "Factor"
                },
                "type": "spinner",
                "opts": {
                    "min": 0,
                    "max": 1000
                }
            }
        }
    ],
    "meta": {
        "type": "Converter to SU",
        "version": "1.4.2",
        "author": "@on_sheff Anton Shefov <a.shefov@gmail.com>",
        "desc": "Converter from any object types to SmartUnity",
        "keywords": "SmartUnity, SU",
        "license": "MIT"
    },
    "color": "#3BB08F",
    "inputLabels": [
        "from_nodes"
    ],
    "outputLabels": [
        "to_SU"
    ],
    "icon": "font-awesome/fa-sign-in",
    "status": {
        "x": 1180,
        "y": 220,
        "wires": [
            {
                "id": "665c296779b483c1",
                "port": 0
            },
            {
                "id": "85c9f51d2da30ffd",
                "port": 0
            },
            {
                "id": "80a5ad3061a8423a",
                "port": 0
            },
            {
                "id": "5177e369ac66ecde",
                "port": 0
            },
            {
                "id": "071fbfcd31c518c2",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "738ff25c657b58ce",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "cont",
                    "v": "setpoint",
                    "vt": "str"
                },
                {
                    "t": "cont",
                    "v": "value",
                    "vt": "str"
                },
                {
                    "t": "cont",
                    "v": "HELP_OBJECT",
                    "vt": "str"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 4,
            "x": 815,
            "y": 160,
            "wires": [
                [
                    "8b1d68eb65699eb2"
                ],
                [
                    "c66e0f2b68c6a8a4"
                ],
                [
                    "d85af456a95308fc"
                ],
                [
                    "6cee4f89311c3621"
                ]
            ],
            "l": false
        },
        {
            "id": "55fb993c57f0f83e",
            "type": "trigger",
            "z": "625e0c3cc5957e33",
            "name": "",
            "op1": "",
            "op2": "",
            "op1type": "nul",
            "op2type": "payl",
            "duration": "15",
            "extend": true,
            "overrideDelay": true,
            "units": "s",
            "reset": "",
            "bytopic": "topic",
            "topic": "object_id",
            "outputs": 1,
            "x": 995,
            "y": 60,
            "wires": [
                [
                    "6cee4f89311c3621"
                ]
            ],
            "l": false
        },
        {
            "id": "8b1d68eb65699eb2",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "delay",
                    "pt": "msg",
                    "to": "$env('SETPOINT_DELAY') * 1000",
                    "tot": "jsonata"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "$number(payload) * $number($env('VALUE_FACTOR'))",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 915,
            "y": 60,
            "wires": [
                [
                    "55fb993c57f0f83e"
                ]
            ],
            "l": false
        },
        {
            "id": "74125a3badeef3bc",
            "type": "function",
            "z": "625e0c3cc5957e33",
            "name": "Parse_data",
            "func": "const addresses = env.get('ADDRESSES');\nconst types = env.get('TYPES');\n\nvar key = String(msg.topic);\n\nreturn {\"payload\" : msg.payload, \"object_id\" : addresses[key], \"type\" : types[key]};",
            "outputs": 1,
            "timeout": "",
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 335,
            "y": 160,
            "wires": [
                [
                    "ea28b9e403418095"
                ]
            ],
            "l": false
        },
        {
            "id": "c8f306b7a6df1d66",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "ADDRESSES",
            "propertyType": "env",
            "rules": [
                {
                    "t": "hask",
                    "v": "$string(topic)",
                    "vt": "jsonata"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 175,
            "y": 160,
            "wires": [
                [
                    "71e42bdb80f3fb1d"
                ],
                [
                    "f2b30eb924f026a4"
                ]
            ],
            "l": false
        },
        {
            "id": "c66e0f2b68c6a8a4",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "$number(payload) * $number($env('VALUE_FACTOR'))",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 915,
            "y": 100,
            "wires": [
                [
                    "6cee4f89311c3621"
                ]
            ],
            "l": false
        },
        {
            "id": "71e42bdb80f3fb1d",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nnull"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 255,
            "y": 160,
            "wires": [
                [
                    "74125a3badeef3bc"
                ],
                [
                    "1add456787968f28"
                ]
            ],
            "l": false
        },
        {
            "id": "d85af456a95308fc",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "$number(payload) + $number($env('HELP_OBJECT_SHIFT'))",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 915,
            "y": 140,
            "wires": [
                [
                    "6cee4f89311c3621"
                ]
            ],
            "l": false
        },
        {
            "id": "85c9f51d2da30ffd",
            "type": "template",
            "z": "625e0c3cc5957e33",
            "name": "Payload is empty",
            "field": "payload",
            "fieldType": "msg",
            "format": "json",
            "syntax": "mustache",
            "template": "{\n    \"fill\": \"red\",\n    \"shape\": \"dot\",\n    \"text\": \"Payload is empty. ID: {{object_id}}\"\n}",
            "output": "json",
            "x": 990,
            "y": 400,
            "wires": [
                []
            ]
        },
        {
            "id": "665c296779b483c1",
            "type": "template",
            "z": "625e0c3cc5957e33",
            "name": "Object type is ***",
            "field": "payload",
            "fieldType": "msg",
            "format": "json",
            "syntax": "mustache",
            "template": "{ \n    \"fill\": \"red\",\n    \"shape\": \"dot\",\n    \"text\": \"Object type is {{payload}}. ID: {{object_id}}\"\n}",
            "output": "json",
            "x": 990,
            "y": 340,
            "wires": [
                []
            ]
        },
        {
            "id": "80a5ad3061a8423a",
            "type": "template",
            "z": "625e0c3cc5957e33",
            "name": "OK",
            "field": "payload",
            "fieldType": "msg",
            "format": "json",
            "syntax": "mustache",
            "template": "{\n    \"fill\": \"green\",\n    \"shape\": \"dot\",\n    \"text\": \"{{object_id}}: {{payload}}\"\n}",
            "output": "json",
            "x": 1030,
            "y": 220,
            "wires": [
                []
            ]
        },
        {
            "id": "5177e369ac66ecde",
            "type": "template",
            "z": "625e0c3cc5957e33",
            "name": "Object ID is ***",
            "field": "payload",
            "fieldType": "msg",
            "format": "json",
            "syntax": "mustache",
            "template": "{ \n    \"fill\": \"red\",\n    \"shape\": \"dot\",\n    \"text\": \"Object ID is {{payload}}.\"\n}",
            "output": "json",
            "x": 1000,
            "y": 280,
            "wires": [
                []
            ]
        },
        {
            "id": "071fbfcd31c518c2",
            "type": "template",
            "z": "625e0c3cc5957e33",
            "name": "Waiting",
            "field": "payload",
            "fieldType": "msg",
            "format": "json",
            "syntax": "plain",
            "template": "{ \"fill\": \"grey\", \"shape\": \"ring\", \"text\": \"waiting\" }",
            "output": "json",
            "x": 1020,
            "y": 460,
            "wires": [
                []
            ]
        },
        {
            "id": "f37860f007d95cb5",
            "type": "inject",
            "z": "625e0c3cc5957e33",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "true",
            "payloadType": "bool",
            "x": 840,
            "y": 460,
            "wires": [
                [
                    "071fbfcd31c518c2"
                ]
            ]
        },
        {
            "id": "2637ffab3e499b05",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "object_id",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "istype",
                    "v": "number",
                    "vt": "number"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 655,
            "y": 160,
            "wires": [
                [
                    "6bfdb90311f7bc0f"
                ],
                [
                    "d148f63b1aa8dcbf"
                ]
            ],
            "l": false
        },
        {
            "id": "6bfdb90311f7bc0f",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "object_id",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "btwn",
                    "v": "1024",
                    "vt": "num",
                    "v2": "9999",
                    "v2t": "num"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 735,
            "y": 160,
            "wires": [
                [
                    "738ff25c657b58ce"
                ],
                [
                    "50188cdba76f8d85"
                ]
            ],
            "l": false
        },
        {
            "id": "37c0a36dc8d6f405",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "[\t    'T_IMPULS_BUTTON',\t    'T_SWITCH_BUTTON',\t    'T_RELE',\t    'T_UNIV_AN_INPUT_value',\t    'T_UNIV_AN_INPUT_setpoint',\t    'T_TEMPERATURE_DETECTOR_value',\t    'T_TEMPERATURE_DETECTOR_setpoint',\t    'T_ANALOG_IN_ADVANCED_value',\t    'T_ANALOG_IN_ADVANCED_setpoint',\t    'T_UNIV_AN_OUTPUT',\t    'T_HELP_SWITCH',\t    'T_HELP_OBJECT',\t    'T_UNIV_AN_OUTPUT_TO_HELP_OBJECT',\t    'T_COMMON_TIMER',\t    'T_INTERVAL_TIMER'\t]",
            "propertyType": "jsonata",
            "rules": [
                {
                    "t": "cont",
                    "v": "type",
                    "vt": "msg"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 495,
            "y": 160,
            "wires": [
                [
                    "3e463e9bba452862"
                ],
                [
                    "de6029d36af308ce"
                ]
            ],
            "l": false
        },
        {
            "id": "ea28b9e403418095",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nnull"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 415,
            "y": 160,
            "wires": [
                [
                    "37c0a36dc8d6f405"
                ],
                [
                    "28668b376df2a5cd"
                ]
            ],
            "l": false
        },
        {
            "id": "3e463e9bba452862",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "object_id",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nnull"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 575,
            "y": 160,
            "wires": [
                [
                    "2637ffab3e499b05"
                ],
                [
                    "1e99326f71fb9547"
                ]
            ],
            "l": false
        },
        {
            "id": "853dc5d65f220e86",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "payload",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nnull"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 255,
            "y": 300,
            "wires": [
                [
                    "d6d97043a214db0c"
                ],
                [
                    "1add456787968f28"
                ]
            ],
            "l": false
        },
        {
            "id": "d148f63b1aa8dcbf",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "$join(['not a number (', $string(msg.object_id),')'],'')\t\t",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 655,
            "y": 220,
            "wires": [
                [
                    "844d345f75e5181f"
                ]
            ],
            "l": false
        },
        {
            "id": "50188cdba76f8d85",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "$join(['out of range (', $string(msg.object_id),')'],'')",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 735,
            "y": 220,
            "wires": [
                [
                    "844d345f75e5181f"
                ]
            ],
            "l": false
        },
        {
            "id": "1e99326f71fb9547",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "empty",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 575,
            "y": 220,
            "wires": [
                [
                    "844d345f75e5181f"
                ]
            ],
            "l": false
        },
        {
            "id": "28668b376df2a5cd",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "empty",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 415,
            "y": 220,
            "wires": [
                [
                    "e40e2af3b2739f77"
                ]
            ],
            "l": false
        },
        {
            "id": "de6029d36af308ce",
            "type": "change",
            "z": "625e0c3cc5957e33",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "not defined",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 495,
            "y": 220,
            "wires": [
                [
                    "e40e2af3b2739f77"
                ]
            ],
            "l": false
        },
        {
            "id": "d6d97043a214db0c",
            "type": "link out",
            "z": "625e0c3cc5957e33",
            "name": "link out 25",
            "mode": "link",
            "links": [
                "6e61ee2172f0c087"
            ],
            "x": 335,
            "y": 300,
            "wires": []
        },
        {
            "id": "6e61ee2172f0c087",
            "type": "link in",
            "z": "625e0c3cc5957e33",
            "name": "link in 17",
            "links": [
                "d6d97043a214db0c"
            ],
            "x": 335,
            "y": 100,
            "wires": [
                [
                    "ea28b9e403418095"
                ]
            ]
        },
        {
            "id": "f2b30eb924f026a4",
            "type": "switch",
            "z": "625e0c3cc5957e33",
            "name": "",
            "property": "type",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nnull"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 1,
            "x": 175,
            "y": 300,
            "wires": [
                [
                    "853dc5d65f220e86"
                ]
            ],
            "l": false
        },
        {
            "id": "6cee4f89311c3621",
            "type": "junction",
            "z": "625e0c3cc5957e33",
            "x": 1080,
            "y": 180,
            "wires": [
                [
                    "80a5ad3061a8423a"
                ]
            ]
        },
        {
            "id": "844d345f75e5181f",
            "type": "junction",
            "z": "625e0c3cc5957e33",
            "x": 720,
            "y": 280,
            "wires": [
                [
                    "5177e369ac66ecde"
                ]
            ]
        },
        {
            "id": "e40e2af3b2739f77",
            "type": "junction",
            "z": "625e0c3cc5957e33",
            "x": 600,
            "y": 340,
            "wires": [
                [
                    "665c296779b483c1"
                ]
            ]
        },
        {
            "id": "1add456787968f28",
            "type": "junction",
            "z": "625e0c3cc5957e33",
            "x": 440,
            "y": 400,
            "wires": [
                [
                    "85c9f51d2da30ffd"
                ]
            ]
        }
    ]
}
