json/workload.json

    {
        "id": "f05f802bc66d0b79",
        "type": "subflow",
        "name": "Workload",
        "info": "Measures the flow of messages.\r\n\r\n### Outputs\r\n\r\n1. Object_dict\r\n: payload (dict) : Dictionary with the number of messages per ID\r\n\r\n2. Load_min\r\n: payload (number) : Number of messages per minute.\r\n\r\n3. Load_hour\r\n: payload (number) : Average number of messages per minute per hour.\r\n",
        "category": "SmartUnity",
        "in": [
            {
                "x": 180,
                "y": 100,
                "wires": [
                    {
                        "id": "595d7185fd85a4af"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 650,
                "y": 40,
                "wires": [
                    {
                        "id": "595d7185fd85a4af",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 100,
                "wires": [
                    {
                        "id": "595d7185fd85a4af",
                        "port": 1
                    }
                ]
            },
            {
                "x": 640,
                "y": 220,
                "wires": [
                    {
                        "id": "595d7185fd85a4af",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "type": "Workload",
            "version": "1.0.1",
            "author": "Anton Shefov <a.shefov@gmail.com>",
            "desc": "Measures the flow of messages",
            "keywords": "SmartUnity, SU",
            "license": "MIT"
        },
        "color": "#3BB08F",
        "inputLabels": [
            "from_SU"
        ],
        "outputLabels": [
            "objects_dict",
            "load_min",
            "load_hour"
        ],
        "icon": "font-awesome/fa-bar-chart",
        "status": {
            "x": 860,
            "y": 160,
            "wires": [
                {
                    "id": "cc8e3f8c5c770c35",
                    "port": 0
                },
                {
                    "id": "82a48b34a088f151",
                    "port": 0
                }
            ]
        },
		"flow" : [
		{
        "id": "595d7185fd85a4af",
        "type": "function",
        "z": "f05f802bc66d0b79",
        "name": "mean_value",
        "func": "var objects_dict = context.get(\"objects_dict\");\nvar timer = context.get(\"timer\");\nvar all_packets = 0;\nvar all_packets_counter = context.get(\"all_packets_counter\");\nvar minute_packets = 0;\n\nif (msg.payload.obj == 206){\n    if (objects_dict[msg.payload.to] != null){\n        objects_dict[msg.payload.to] = objects_dict[msg.payload.to] + 1;\n    } else {\n        objects_dict[msg.payload.to] = 1;\n    }\n    context.set(\"objects_dict\", objects_dict);\n} else if (msg.topic == \"seconds\"){\n    context.set(\"timer\", timer + 1);\n    if ((timer % 60) == 0) {\n        all_packets = Object.values(objects_dict).reduce((partialSum, a) => partialSum + a, 0);\n        minute_packets = all_packets - all_packets_counter;\n        if ((timer % 3600) == 0) {\n            context.set(\"objects_dict\", {});\n            context.set(\"all_packets_counter\", 0);\n            return [{ \"payload\": objects_dict }, { \"payload\": minute_packets }, { \"payload\": Math.round(all_packets / 60) }]\n        }\n        context.set(\"all_packets_counter\", all_packets);\n        return [null, { \"payload\": minute_packets }, null]      \n    }\n} else if (msg.topic == \"dict\"){\n    return [{ \"payload\": objects_dict }, null, null]\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\ncontext.set(\"objects_dict\", {});\ncontext.set(\"timer\", 1);\ncontext.set(\"all_packets_counter\", 0);",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [],
            [
                "cc8e3f8c5c770c35"
            ],
            []
        ]
    },
    {
        "id": "b33d801b744e9c31",
        "type": "inject",
        "z": "f05f802bc66d0b79",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "seconds",
        "payload": "true",
        "payloadType": "bool",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "595d7185fd85a4af"
            ]
        ],
        "l": false
    },
    {
        "id": "cc8e3f8c5c770c35",
        "type": "template",
        "z": "f05f802bc66d0b79",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"fill\": \"green\",\n    \"shape\":\"dot\",\n    \"text\": \"{{payload}} mes/min\"\n}",
        "output": "json",
        "x": 640,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "82a48b34a088f151",
        "type": "inject",
        "z": "f05f802bc66d0b79",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fill\":\"grey\",\"shape\":\"ring\",\"text\":\"waiting\"}",
        "payloadType": "json",
        "x": 785,
        "y": 220,
        "wires": [
            []
        ],
        "l": false
    }
		]
    }